.contain-container{
    display: flex;
    width: 90%;
    margin: auto;
    
    
}

.routes{
    
    max-height: 90vh;
    min-height: 90vh;
    border: 1px solid #ccc;
    
overflow-y:scroll;
    width: 100%;
}
.routes::-webkit-scrollbar{
    display: none;
}
