.app-download-container{
    width: 90%;
    padding: 40px;
    
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-download-container .download-img{
    display:flex;
    gap: 40px;
    margin-top: 20px;
}
.app-download-container  h2{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    

    @media (max-width: 750px) {
        .app-download-container{
            background-color: rgba(217, 216, 216, 0.202);
            width:70%;
            border-radius: 2px;
            text-align: center;
            font-size: 10px;
        }
        .app-download-container .download-img img{
            width: 100px;
        }

    }