.menu-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: auto;
    user-select: none;
    margin-top: 10px;
    
}
.menu-container h2{

    text-align: center;
    margin-top: 20px;
    font-family: "Merienda", cursive;

}
.menu-container p{
    text-align: center;

}
.menu-container .explore-menu-list{
    display: flex;
    justify-content: space-evenly;
width: 100%;
height: 180px;
overflow: scroll;
overflow-y: hidden;
    align-items: center;
    gap: 50px;
margin: auto;
background-color: rgba(248, 248, 248, 0.023);
border-radius: 10px;
margin-bottom: 30px;

}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.menu-container .explore-menu-list .menu-item{
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: 20px;
    margin-top: 15px;

    
    margin-bottom: 10px;
}
.menu-container .explore-menu-list .menu-item h3{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu-container .explore-menu-list .menu-item img{
    width:100px;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.1s;
}
.menu-container .explore-menu-list .menu-item .active{
    border: 4px solid tomato;
    padding: 2px;
    width:110px;
    color: tomato;
}

.menu-container .explore-menu-list .menu-item .active-text{
    color: tomato;
}
.explore-menu-list svg{
    position: absolute;
    width: 90%;
    z-index: -1;
    margin: 10px;
    border-radius: 10px;

    
}


@keyframes scroll{
    from { transform: translateX(0); }
  to { transform: translateX(-20%); }}

@media (max-width: 750px){
    .menu-container h2{
        font-size: 19px;
    }
    .menu-container .explore-menu-list .menu-item{
        animation: scroll infinite ease-in-out 1s alternate-reverse;
    }
    .explore-menu-list svg{
    margin-top: 100px;
    border-radius:0px;

    
}
}